.venv/
.vscode/
.DS_Store
*.env
__pycache__/
*.log
testing.*
.pytest_cache/
.coverage

# Terraform
terraform.tfvars
.terraform/

# SSL certificates (downloaded during CI/CD)
origin.pem
origin.key

# Audio related files
*.mid
*.wav
*.mp3
*.sf2